<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>
    <div class="container">
        <div class="content">
        {{>header}}
        <img src="/img/myPic.jpeg" alt="The creator of the app" class="portrait">
            <p class="aboutText">
               Hi everyone! My name is Dereck Portela, the creator of this application. I'm graduated in Electronics Engineering, from the University of Pernambuco in Brazil, and also 
               in love with any kind of technologies including web development. If you want to know more about me or to see some of my projects check out my GitHub or my Linkedin by clicking on the icons below. 
               It's also possible to get in touch by filling the form on the help page, your message will be redirected to me.
            </p>
            <a href="https://github.com/dereck-alex18" target="__blank"  id="github"><img src="/img/github.png"></a>
            <a href="https://www.linkedin.com/in/dereck-portela-36682675/" target="__blank" id="linkedin"><img src="/img/linkedin.png"></a>
        </div>
        {{>footer}}
    </div>

</body>
</html>